/*Base styles */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: 'Courgette', cursive;
  font-style: italic;
}

h1 {
  color: white;
  font-size: 4em;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

p { font-size: 1.3em; }
a { text-decoration: none; }

/*.hero-body h2 {
  color: white;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}*/

.custom-btn {
  border-radius: 3em;
  background-color: purple;
  color: white;
  display: inline-block;
  padding: .7em 5em;
  margin-top: 1em;
}

/*Nav Bar*/

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: black;
}

.fixed-nav-bar li, .fixed-nav-bar a {
  height: 60px;
  line-height: 60px;
}

.menu {
  height: 60px;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.menu a, .menu a:visited { color: #ffffff; }

.menu a:hover, .menu a:target { color: #ebebeb; }

.menu-items {
  display: inline-block;
  float: right;
  margin: 0;
}

.logo {
  display: inline-block;
  float: left;
}

.logo img { vertical-align: middle; }

a.logo, a:visited.logo {
  color: #e0e0e0;
}

.menu-items li {
  display: inline-block;
  margin: 0 10px 0 20px;
}

.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}

.show img {
  vertical-align: middle;
  width: 30px;
}

.hide img {
  vertical-align: middle;
  width: 20px;
}

.arrow {
  position: absolute;
  bottom: 40px;
  right: 49.5%;
}

/* Hero Header */

.hero {
  background: url('../img/hero-bg.jpg') no-repeat fixed!important;
  background-size: cover!important;
  position: relative;
  text-align: center;
}

.hero p {
  color: white;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  width: 57%;
}

p.subtitle { font-size: 1.5em; }

.hero-body {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  margin: 0 auto;
  min-height: 250px;
  overflow: hidden;
  padding-top: 100px;
  text-align: center;
  z-index: 2;
}

.hero .hero-body { padding: 17% 0; }
.description { padding: 10em; }

.description p,
.description small { text-align: center; }

small {
  display: block;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.column {
  float: left;
  width: 25%;
}

.column img { width: 90%; }

.description hr,
.contact hr {
  width: 25%;
  margin: 1.5em auto 1em;
}

/*About Us*/

.proposal {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 100%;
  padding: 10em 0;
  z-index: 2;
}


.about-us {
  background: url('../img/about-us-bg.jpg') black center center no-repeat!important;
  background-size: cover!important;
  color: white;
  overflow: hidden;
  height: 100%;
}

.about-us small {
  color: #C2C2C2;
  text-align: left;
}

.members h4 {
  font-size: 1.7em;
  margin: 1em 0 0.2em;
}

.proposal { padding: 10em 5em; }

.members h2,
.proposal h2 {
  text-align: left;
  margin-bottom: 1em;
}

.proposal hr {
  border-color: #262424;
  margin: 4em 0;
}

.proposal small { margin-top: 4em; }

/*Flag Section*/

.flag { padding: 10em 0; }

.flag img {
  display: block;
  margin: 0 auto 2em;
  width: 135px;
}

.flag p {
  font-size: 1.6em;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

/*Contact Section*/

.contact {
  background: url('../img/footer-bg.jpg') black center center no-repeat!important;
  background-size: cover;
  color: white;
  overflow: hidden;
  height: 100%;
}

.contact-container {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 100%;
  padding: 10em 0;
  z-index: 2;
}

.contact p {
  font-size: 1.1em;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.icons {
  margin: 1em auto;
  text-align: center;
}

.icons a {
  color: white;
  font-size: 2em;
  margin-right: .5em;
  color: white;
  display: inline-block;
  text-align: center;
}

.icons img { width: 30px; }

.mail-to {
  font-size: 1.1em;
  color: white;
  display: block;
  margin-top: 20px;
  text-align: center;
}

/*Footer*/

footer {
  background-color: black;
  padding: 2em;
  color: #4c4a4a;
}

footer p {
  display: inline-block;
  color: #4c4a4a;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/*Media queries*/

@media only screen and (max-width: 800px) {
  .menu {
    position: relative;
    width: 100%;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }

  .menu-items {
    display: none;
    width: 100%;
    margin-top: 80px;
    opacity: 0.7;
    background-color: black;
  }

  .menu-items li {
    display: block;
    text-align: center;
  }

  .show, .hide {
    position: absolute;
    top: 0;
    right: 15px;
  }

  .show { display: inline-block; }
  .hide { display: none; }

  .content h1 {
    font-size: 35px;
    margin-top: 130px;
  }

  #menu:target .show {
    display: none;
  }

  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }

  h1 {
    font-size: 2.5em;
  }

  .hero p {
    width: 90%;
  }

  .hero .hero-body {
    padding: 35% 0;
  }

  .description {
    padding: 3em;
  }
}
